.jro-tools-plus-item-link {
    color: inherit;
    font: inherit;
    text-decoration: inherit;
}

.jro-tools-plus-item-link::after {
    content: "open_in_new";
    display: inline-block;
    direction: ltr;
    font-family: "Material Icons";
    font-feature-settings: "liga";
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 1;
    margin-left: 0.25em;
    text-decoration: none;
    text-transform: none;
    vertical-align: -0.12em;
    white-space: nowrap;
    word-wrap: normal;
    -webkit-font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
}
